# Copie ce fichier en .env et remplis les valeurs
FLASK_APP=run.py
FLASK_ENV=development
FLASK_DEBUG=1
SECRET_KEY=change-me-in-production

DATABASE_URL=sqlite:///albir.db

MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=1
MAIL_USERNAME=votre-email@gmail.com
MAIL_PASSWORD=votre-mot-de-passe-app

MAX_CONTENT_LENGTH=16777216
UPLOAD_FOLDER=app/static/images/uploads

ADMIN_EMAIL=admin@centre-albir.com
ADMIN_PASSWORD=ChangeMe2026!
ADMIN_NAME=Administrateur
