# Environnement virtuel
.venv/
venv/
env/

# Secrets
.env

# Base de données locale
*.db
*.sqlite
*.sqlite3

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Uploads locaux (pas en prod)
app/static/images/uploads/*
!app/static/images/uploads/.gitkeep

# VS Code
.vscode/

# Windows
Thumbs.db

# Logs
*.log
